page-history {
  .item{
    margin:-10px;
  }
  .ion_label_validate {
    text-align: right;
    font-size: 15px;
    font-family: "CoHeadlineW23-ArabicRegular";
  }
  .ion_label_title {
    text-align: right;
    font-size: 15px;
    font-family: "CoHeadlineW23-ArabicRegular";
  }
}
