page-account {
  .background_View{
     background-image: url('../assets/backgrounds/background.jpeg');
     background-repeat: repeat;
     background-size: auto;
   }
   .ion_label_header {
     color: #000;
     text-align: right;
     font-size: 25px;
     font-family: "CoHeadlineW23-ArabicRegular";
   }
   .ion_label_input {
     color: #fff;
     text-align: right;
     font-size: 18px;
     font-family: "CoHeadlineW23-ArabicRegular";
   }
   .center{
        text-align:center;
   }
   .icon_button_text {
    text-align: center;
    font-size: 15px;
    font-family: "CoHeadlineW23-ArabicRegular";
    color: #47639E;
    background-color: transparent;
  }
  .ion_label_validate {
    text-align: right;
    font-size: 15px;
    font-family: "CoHeadlineW23-ArabicRegular";
    color: #000;
  }
   .inputUserName {
      .text-input {
        padding: 0px;
        padding-right: -10px;
        text-align: right;
        border-radius: 5px;
        border-width: thin;
        border-color: #000;
      }
  }
  .inputCredit {
      .text-input {
        padding: 0px;
        padding-right: -10px;
        text-align: right;
        border-radius: 5px;
        border-width: thin;
        border-color: #47639E;
        color: green
      }
  }
   .ion_label_title {
     color: #000;
     text-align: right;
     font-size: 18px;
     font-family: "CoHeadlineW23-ArabicRegular";
   }
   .alert-info {
    color: #31708f;
    // background-color: #d9edf7;
    border-color: #bce8f1;
    font-size: 13px;
  }
   .item_header {
     color: #000;
     background-color: #36D7B7;
   }
   .inputURL {
      .text-input {
        padding: 0px;
        padding-right: -10px;
        text-align: center;
        border-radius: 5px;
        border-width: thin;
        border-color: #000;
      }
  }
  .select.select-option
  {
    text-align: right;
    direction: rtl;
  }
}